@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  background-color: #777;
}
.nav {
  display: flex;
  justify-content: space-around;
  background-color: whitesmoke;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
  padding: 2rem 10rem;
}
.nav-list {
  display: flex;
  list-style-type: none;
  margin-left: auto;
}
.nav-logo {
  color: #000;
  text-decoration: none;
}
.nav-logo i {
  margin-right: 0.5rem;
}
.nav-list a {
  margin-left: 3rem;
  color: #000;
  text-decoration: none;
}
.nav-list a > i {
  margin-right: 0.5rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #fff;
  max-width: 600px;
  margin: auto;
  padding: 5rem;
}
.card img {
  transition: all 0.3s;
  animation: fadeIn 0.5s;
}
.card img:hover {
  scale: 0.95;
}
.card h1 {
  font-size: 1.65rem;
  margin: 2rem 0;
}
.card h3 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  text-transform: uppercase;
}
.card span {
  margin: 1.5rem 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(164, 29, 164);
}
.card a {
  text-decoration: none;
  color: rgb(190, 49, 190);
}
iframe {
  margin: 1rem 0;
}
.footer {
  background-color: whitesmoke;
  padding: 2rem;
}
.footer p {
  text-align: center;
  margin: 0.5rem 0;
}
@media (min-width: 1200px) {
  .card {
    border-radius: 20px;
  }
}
@keyframes fadeIn {
  0% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
@media (min-width: 800px) {
  .container {
    height: 130vh;
  }
  .card {
    box-shadow: 0 0.5rem 1.5rem black;
  }
}
