@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

body {
  background-color: whitesmoke;
  font-family: "Lato", sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
.container p {
  max-width: 300px;
}
.container h3 > a {
  color: rgb(111, 26, 111);
  text-transform: uppercase;
}
.form {
  display: flex;
  flex-direction: column;
}
.form button {
  margin: 15px 0;
  font-family: inherit;
  border: 0.5px solid #333;
  padding: 15px;
  transition: 0.3s color background-color ease;
}
.form label {
  margin: 10px 0;
}
.form button:hover {
  background-color: rgb(128, 128, 128);
  color: white;
  cursor: pointer;
  font-family: inherit;
}
.form-input {
  outline: 1px solid #eee;
  height: 25px;
  font-size: 1rem;
}
.form-textarea {
  outline: 1px solid #eee;
  font-size: 1rem;
}
a {
  color: #333;
  text-decoration: none;
}
